<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Location Search</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="./main.css" />

  </head>
  <body>
    <div id="app">
      <section class="main-container animate__animated animate__fadeInUp">
        <h1 class="search-heading">Location Search</h1>
        <p>Enter the name of the place you want to search for below.</p>
        <input type="text" class="search-input" v-model="searchQuery" />
        <ul class="location-list" v-if="locations.length > 0">
          <li class="location-list__item" v-for="location in locations">
            <span class="location-list__item__heading">{{ location.name }}</span>
         <div>
              <span class="location-list__item__details">Latitude: {{ location.latitude }}</span>
              <span class="location-list__item__details">Longitude: {{ location.longitude }}</span>
         </div>
          </li>
        </ul>
        <span v-else class="location-list__empty-text">{{ noResultText }}</span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script>
    <script src="./search.js"></script>
  </body>
</html>
