html,
body {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}

#app {
  width: 100%;
  height: 100%;
  font-family: "Roboto Slab", sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #b43757;
}

.main-container {
  width: 50%;
  margin: auto;
  text-align: center;
  display: inline-block;
  height: 600px;
  max-height: 600px;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
  padding: 2em;
  background-color: #ffffff;
}

.search-heading {
  color: #b43757;
}

.search-input {
  padding: 1em;
  width: 50%;
}

.location-list {
  padding: 0;
  width: 75%;
  margin: 2em auto;
  display: inline-block;
  max-height: 360px;
  border-radius: 4px;
  border: 1px solid #ccc;
  list-style: none;
  overflow-y: auto;
}

.location-list .location-list__item {
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.location-list__item:last-child {
  border: none;
}

.location-list__item__heading {
  font-weight: 500;
  text-align: left;
  display: block;
}

.location-list__item__details {
  text-align: left;
  display: block;
  color: grey;
  margin-bottom: 0.5em;
}

.location-list__empty-text {
  display: block;
  margin-top: 2em;
}
